
$primary: #99dd40;
$info: #00A0E5;
$dark: #44403b;

$font-family-sans-serif: "Arial", Arial, Helvitica, sans-serif;

$body-color: #e1dcbd;
$better-hyperlink-blue: #2989b3;
$yellow-color: #f6d73c;
$bg-contrast: hsl(33, 7%, 25%);


$light-gray: #c4c4cb;
$accent-orange: #FFBF46;
$medium-red: rgb(255, 98, 19);
$hyperlink-blue: #2989b3;

$navbar-bg: linear-gradient(.3turn, $primary,$body-color, $primary);
// $background: hsl(52 45% 87%);
$background: hsl(86, 80%, 88%);

$nice-blue: #006b90;
$purple: #4e28da;
$light-cream: hsl(52, 45%, 92%);

$logoTextDanger: rgb(214,77,33);
$logoTextLettuce: rgb(105, 185, 29);